# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.opensdf
*.sdf
*.sln
*.v11.suo

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Debug/
Release/
Quadcopter-Control